<!DOCTYPE html>
<html>
  <head>
    <style>
      p {
        color: black;
        text-decoration: none;
        font-size: 12px;
        margin: 2px;
      }
      .link-url {
        text-decoration: none;
        color: rgb(9, 124, 255);
        margin: 20px opx;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
      }

      .link-url-futoor {
        text-decoration: none;
        font-weight: 600;
        color: black;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <img
        src="https://prolinkinfotech.com/wp-content/uploads/2023/04/cropped-PNG-01.png"
        alt="carspice logo"
        style="margin: 50px 0px; width: 250px"
      />
    </div>
    <p>Dear user,</p>

    <p>There was a request to change your password!</p>
    <p> If you did not make this request then please ignore this email.</p>
    <p>
      Otherwise, please click this link to change your password:  <a href="<%= link %>" class="link-url">Reset Password</a>
    </p>
  </body>
</html>
